
body{
    background-color: var(--negro);
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}


::after,::before{
    padding: 0;
    margin: 0;
}


img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-skewed{
    position: relative;

}
@keyframes burbujas {
    0%{
        transform: translateY(0%);
    }50%{
        transform: translateY(-100px);

    }
    100%{
        transform: translateY(-150px);

    }
   
}
@keyframes moverPez {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-520px);
    }
    
}

