@use '../base/mixins' as m;
.container-img-about{
    overflow: hidden;
    width: 100%;

    @include m.tablet{
        width: 450px;

    }
    height: 300px;
    position: relative;
    border-radius: 50%;

}
.c-skewed{
    position: relative;
    z-index: 9;
    height: 1500px;

    @include m.tablet{
        height: 1200px;
        padding: 4rem 0;

    }

    @include m.desktopXL{
        height: 600px;

    }
}

.skewed {
    position: absolute;
    z-index: 1000000;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dfdfdf;
    transform: skewY(-5deg);
    transform-origin: top left;
   
  }
.about-text{
    width:100%;

    @include m.tablet{
        width: 80%;

    }
    overflow: hidden;
    text-align: center;
  
    h2{
        font-size: 2rem;
    }   

    .about-desc{
        transition: all .5s ease-in-out;

        max-height: 200px;
        height: auto;

        @include m.tablet{
            max-height: 300px;
            height: auto;

        }

        @include m.desktop{
            max-height: 1000px;
            height: auto;
            
        }
       
        
    }

  
    @include m.desktop{
        text-align: left;
      
        
        
    }
}

.ver-mas{
    font-weight: 600;
 
}

.about-desc.mh100 {
    overflow: visible;
    max-height: 2000px;
    height: auto;
    @media(min-width:"290px"){
        max-height: 1100px;

    }
  }

.container-about{
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
   

    @include m.tablet{
        padding: 0 3rem;

        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        place-content: center;
    }
    @include m.desktopXL{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        place-items: center;
        
    }
}
.burbuja{
    position: absolute;
    width: 26px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.493);
    border-radius: 50%;
    overflow: hidden;
    animation: burbujas 5s linear infinite;

}
.burbuja1{
    bottom: -2%;

}

.burbuja2{
    bottom: 30%;
    right: 10%;
}
.burbuja3{
    bottom: 40%;
    right: 5%;
}
.burbuja4{
    bottom: 70%;
    right: 20%;
}
.burbuja5{
    bottom: 20%;
    right: 50%;
}
.burbuja6{
    bottom: 20%;
    right: 30%;
}
.burbuja7{
    bottom: 80%;
    right: 30%;
}
.burbuja8{
    bottom: 50%;
    right: 80%;
}
.burbuja9{
    bottom: 1%;
    right: 70%;
}
.burbuja10{
    bottom: 50%;
    right: 50%;
}
.burbuja11{
    bottom: -1%;
    right: 50%;
}
.burbuja12{
    bottom: -1%;
    right: 80%;
}
.burbuja13{
    bottom: -1%;
    right: 30%;
}
.container-pez{
    position: absolute;
    width: 80px;
    right: -15%;
    bottom: 10%;
    overflow: hidden;
    animation: moverPez 5s linear infinite;
}

.ver-mas{
    transition: all .5s ease-in-out;
}
.isVisible{
    display: inline;
    @include m.desktop{
        display: none;
    }
}

.img-about{
    height: 100%;
}