@use '../base/mixins' as m;
.labor{
    margin-top: -10rem;
    height: 100%;
    position: relative;
    z-index: 9;
}
.container-labor{
    margin: 2rem 0;
    position: absolute;
    z-index: 10000;
    height: 100%;  

    width: 100%;

   
}
.img-labor{


    background-image: url('/laborimg.jpg');

    background-image: url('/laborimgw.webp');


    height: 1000px;
    max-height: 1500px;
    filter: brightness(.7);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    @include m.tablet{
        max-height: 1500px;
    }
}

.labor-text{
    
    h2{
        font-size: 3rem;
        text-align: center;
        color: var(--blanco);
        text-transform: uppercase;
        margin: 0;
        @include m.tablet{
            font-size: 3rem;

        }
    }

    p{
        color: var(--blanco);
        text-align: center;
        font-weight: 500;
        font-size: .6rem;
        @include m.tablet{
            font-size: 1.2rem;
            
        }
    }

    @include m.tablet{
        h2{
            font-size: 5rem;
            text-align: left;

        }
    }
}

.labor-text-card{
    padding: 0 0rem;
    height: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    width: 100%;
    @include m.tablet{
        height: 100%;

    }
    @include m.desktopXL{
        margin: 3rem auto;

        max-width: 1500px;
    }

}

.info-labor{
    margin-right: 0rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include m.tablet{
        margin-right: 5rem;
        padding: 0;


    }

    @include m.desktopXL{
        flex-direction: row;

    }   
    
}


.labor-delfin{
    margin-top: 2rem;
    transition: transform 1s ease-in-out;
    width: 70px;



    &:hover{
        cursor: pointer;
    }
    &.clicked{
        transform: rotate(130deg);
    }

    @include m.desktopXL{
        width: 120px;
        
        &.clicked{
            transform: translateX(-12rem) rotate(75deg);
    
        }
    }
   

}

